@charset "UTF-8";
/****** ./dart-sass/sass css/sass/menu.scss css/menu.css -w ******/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
/****** Loader *****/
/********* Fonctionnement *********/
/******** Boutons + Coeurs **********/
/******** Dégradé Menus ********/
/****** CheckMenu *******/
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/********* Header *********/
header {
  box-shadow: 0 2px 3px 1px rgba(196, 196, 196, 0.541);
  display: flex;
  flex-direction: row;
}
header img {
  margin: 0 auto;
  width: 50%;
  max-width: 200px;
  padding: 14px;
}
header .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

/******** Image ********/
.imgResto img {
  width: 100%;
  object-fit: cover;
  height: 320px;
  margin-bottom: -40px;
}

/*********** Menus ***********/
.menu {
  background: #f2f2f2;
  padding: 0px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 40px;
  width: 100%;
}
.menu .nomResto {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 0 30px 10px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 40px;
}
.menu .nomResto i {
  font-size: 28px;
  margin-top: 10px;
}
.menu .nomResto i:hover {
  font-weight: bold;
  color: #FF79DA;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
.menu .entree, .menu .plat, .menu .dessert {
  margin: 15px 20px;
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 14px 10px;
  border-radius: 14px;
  box-shadow: 2px 3px 4px 1px rgba(196, 196, 196, 0.541);
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.menu .entree h4, .menu .plat h4, .menu .dessert h4 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}
.menu .entree p, .menu .plat p, .menu .dessert p {
  color: #686868;
}
.menu .entree .prix, .menu .plat .prix, .menu .dessert .prix {
  padding: 25px 5px 0 5px;
  background-color: white;
}
.menu .entree .prixCheck, .menu .plat .prixCheck, .menu .dessert .prixCheck {
  position: relative;
  display: flex;
  flex-direction: row;
  transition: 350ms ease-out;
}
.menu .entree .prixCheck .check, .menu .plat .prixCheck .check, .menu .dessert .prixCheck .check {
  color: black;
  position: absolute;
  left: 80px;
  bottom: -15px;
  height: 60px;
  padding: 28px 25px 25px 25px;
  background-color: #99E2D0;
  margin-left: -20px;
}
.menu .entree .prixCheck .check .fa-check, .menu .plat .prixCheck .check .fa-check, .menu .dessert .prixCheck .check .fa-check {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;
}

.entree:hover .prixCheck, .plat:hover .prixCheck, .dessert:hover .prixCheck {
  transform: translateX(-84px);
}
.entree:hover .prixCheck .fa-check, .plat:hover .prixCheck .fa-check, .dessert:hover .prixCheck .fa-check {
  transform: rotate(360deg);
  transition: 400ms ease-out 100ms;
}

.une {
  animation: fadein 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.deux {
  animation: fadein 1.5s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.trois {
  animation: fadein 1.5s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.entrees, .plats, .desserts {
  margin-bottom: 40px;
}
.entrees h3, .plats h3, .desserts h3 {
  margin: 20px;
}

.commander {
  display: flex;
}
.commander a {
  text-align: center;
  padding: 16px;
  width: 30%;
  margin: 20px auto;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 2px 4px 3px 1px rgba(196, 196, 196, 0.541);
}
.commander a:hover {
  transition: 0.3s;
  background: linear-gradient(165deg, #f88fda, #a979e4);
  box-shadow: 3px 4px 3px 1px rgba(153, 153, 153, 0.541);
}

/************* Footer ************/
footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
}
footer li {
  text-align: left;
  margin-bottom: 5px;
}
footer li a, footer li i {
  color: white;
}
footer li i {
  margin-right: 10px;
}
footer li .fa-hands-helping {
  font-size: 9px;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  font-size: 18px;
}

/*# sourceMappingURL=menu.css.map */
